{% extends 'base.html' %}

{% block title %}YaCut — загрузка файлов{% endblock %}

{% block content %}
  <section class="container my-5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7 text-center">
        <h1 class="mb-2">
          <span style="color: red;">Ya</span>Cut
        </h1>
        <p class="mb-4">Загрузите файлы и получите на них короткие ссылки</p>
        <form method="POST" novalidate enctype="multipart/form-data">
          {{ form.csrf_token }}
          {{ form.files(class="form-control form-control-lg py-2 mb-3") }}
          {% for error in form.files.errors %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
          {{ form.submit(class="btn btn-primary px-5 py-3") }}
        </form>
        {% if results %}
          <table class="table mt-4">
            <tbody>
              {% for filename, url_map in results %}
                <tr>
                  <td>{{ filename }}</td>
                  <td>
                    <a href="{{ url_map.get_short_link() }}">
                      {{ url_map.get_short_link() }}
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
